.login{
        background-color:rgb(47, 42, 42);
        position:absolute;
        top: 60px;
        left: 18%;
        /* color: #222; */
       
}
.redd{
color:white;
display: flex;
flex-direction: column;
align-items: center;
transform: translateY(-17px);

}
.user-tag{
    display: flex;
    align-items: center;
    gap:30px;
    
}
.submit-login{
    display: flex;
    align-items: center;
    gap:30px;
}
.button{
    border: 1px solid blueviolet;
    border-radius: 2px;
    padding: 7px;
    padding-right: 10px;
    background-color: blueviolet;
}
.note-tag{
    color: gray;
    font-size: smaller;
}
.title{
    font-size: larger;
}
.input-tag{
    /* width:25% ; */
    border-radius: 2px;
    color: black;
}